{% extends 'base_login.html' %} {% block title %}AppliQuest: Task board{%
endblock %} {% block content %}

<div class="container mt-60">
  <!-- New Task Modal -->
  <div
    class="modal fade"
    id="newTaskModal"
    tabindex="-1"
    aria-labelledby="newTaskModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newTaskModalLabel">Add Task</h1>
        </div>
        <div class="modal-body">
          <form method="POST" id="new_task_form">
            {{ new_task_form.hidden_tag() }} {% for field in new_task_form if
            field.widget.input_type != 'hidden' %} {% for error in field.errors
            %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <div>
              {% if field.label.text == "Mark as Completed" %}
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="CheckCompleted"
                />
                <label class="form-check-label" for="CheckCompleted"
                  >Mark as Completed</label
                >
              </div>
              {% else %} {{ field.label(class_="form-label fw-semibold") }} {{
              field(class_="form-control") }} {% endif %}
            </div>
            <br />
            {% endfor %}
          </form>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Discard
          </button>
          <button type="button" class="btn btn-warning" id="create-task">
            Save Task
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Task Modal -->
<div
  class="modal fade"
  id="detailTaskModal"
  tabindex="-1"
  aria-labelledby="detailTaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog w-75">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailTaskModalLabel">Add Task</h1>
      </div>
      <div class="modal-body">
        <form method="POST" id="detail_task_form">
          {{ new_task_form.hidden_tag() }} {% for field in task_detail_form if
          field.widget.input_type != 'hidden' %} {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div>
            {% if field.label.text == "Mark as Completed" %}
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="CheckCompleted"
              />
              <label class="form-check-label" for="CheckCompleted"
                >Mark as Completed</label
              >
            </div>
            {% else %} {{ field.label(class_="form-label fw-semibold") }} {{
            field(class_="form-control", placeholder=field.label.text) }} {%
            endif %}
          </div>
          <br />
          {% endfor %}
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Discard
        </button>
        <button type="button" class="btn btn-warning" id="create-task">
          Save Task
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 mt-3">
      <div class="task-menu">
        <div>
          <p class="btn-task col-12 on-view" id="All">All</p>
          <p class="btn-task col-12" id="Due-Today">Due Today</p>
          <p class="btn-task col-12" id="Past-Due">Past Due</p>
          <p class="btn-task col-12" id="Completed">Completed</p>
        </div>
        <div>
          <div
            style="
              margin: 20px 10px;
              border-top: 1px solid rgba(25, 4, 69, 0.1);
            "
          ></div>
          <p class="btn-task col-12" id="Wishlists">Wishlists</p>
          <p class="btn-task col-12" id="Applications">Applications</p>
          <p class="btn-task col-12" id="Interviews">Interviews</p>
          <p class="btn-task col-12" id="Offers">Offers</p>
          <p class="btn-task col-12" id="Rejections">Rejections</p>
        </div>
      </div>
      <img src="/static/images/To do list-amico.svg" width="75%" alt="" />
    </div>
    <div class="col-9">
      <div
        class="row justify-content-center align-items-center h-100 task-panel"
      >
        <div class="col task-panel">
          <div
            class="d-flex justify-content-between align-items-center mb-3 mt-3"
          >
            <h2 id="tasks-cat" class="m-0">Tasks &gt; All</h2>
            <button
              class="btn btn-warning text-light btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#newTaskModal"
            >
              + New Task
            </button>
          </div>

          <ul
            class="list-group rounded-0"
            id="All-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['All'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>

            {% endfor %}
          </ul>

          <ul
            class="list-group d-none rounded-0"
            id="Due-Today-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Due-Today'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>
          <ul
            class="list-group d-none rounded-0"
            id="Past-Due-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Past-Due'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>
          <ul
            class="list-group d-none rounded-0"
            id="Completed-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Completed'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>

          <ul
            class="list-group d-none rounded-0"
            id="Wishlists-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Wishlists'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>

          <ul
            class="list-group d-none rounded-0"
            id="Applications-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Applications'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>

          <ul
            class="list-group d-none rounded-0"
            id="Interviews-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Interviews'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>
          <ul
            class="list-group d-none rounded-0"
            id="Offers-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Offers'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>

          <ul
            class="list-group d-none rounded-0"
            id="Rejections-list"
            style="height: calc(100vh - 180px); overflow-y: auto"
          >
            {% for task in tasks['Rejections'] %}
            <li
              class="list-group-item d-flex align-items-center"
              data-task-id="{{task.id}}"
            >
              <div class="col-1">
                <input
                  class="form-check-input me-3"
                  type="checkbox"
                  value=""
                  {%
                  if
                  task.completed
                  %}checked{%
                  endif
                  %}
                />
              </div>
              <div class="col-9 ps-2">
                {% if task.completed %}
                <s class="task-text" style="display: inline; margin-left: 10px"
                  >{{task.task_title}}</s
                >
                {% else %}
                <p
                  class="px-3 task-text"
                  style="display: inline; margin-left: 10px"
                >
                  {{task.task_title}}
                </p>
                {% endif %}
              </div>
              <div class="col-2">
                <i class="edit-button fa-solid fa-pencil px-2"></i>
                <i class="delete-button fa-regular fa-trash-can px-2"></i>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
